<div class="ui icon positive message sylius-flash-message">
    <i @click="close()" class="close icon"></i>
    <i class="checkmark icon"></i>
    <div class="content">
        <div class="header">Success</div>
        <p>[[message]]</p>
    </div>
</div>