/.php_cs.cache

/app/config/parameters.yml
/app/config/*.local.yml
/var/*
!/var/.gitkeep


/web/bundles
/web/shipping_labels
#/web/css
#/web/js
#/web/media

/bin/*
!/bin/console
!/bin/symfony_requirements

/vendor
/node_modules

/etc/build/*
!/etc/build/.gitkeep
/.idea/
/behat.yml
/PayPal.log
/phpunit.xml
/phpspec.yml

\.web-server-pid
/shipping_labels/
/web/media/
/composer.lock
/web/bundles/
/var/cache

.docker/databases/

composer\.lock

/.htaccess
.vscode
.history

dev/
vendor
vendor
