#blog {
  position: relative;
  color: $base-black-color;
  margin-top: 50px;

  .bt {
    &-popup {
      display: inline-block;
      border-bottom: 3px double $base-blue-color;
      line-height: 10px;
    }
  }

  .relatedHeader {
    margin-top: 80px;
  }

  .title-block {
    display: flex;
    justify-content: space-between;
    .title {
      h1 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 600;
        font-size: 36px;
        color: $base-blue-color;
      }
      .bt-social {
        display: flex;
      }
    }

    .info {
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      right: 0;
      .author {
        font-weight: 500;
        line-height: 1.2;
        color: $base-black-color
      }

      .date {
        color: $base-gray-color;
        text-align: right;
      }
    }
  }
}