#Info {
    width: 70%;
    margin-left: 60px;

    .ui.form {
        border: none;
        padding: 20px;

        .block-header {
            margin-left: 20px;
        }

        .field > label {
            font-weight: 400;
            font-size: 12px;
            color: $base-black-color;

            &.required:after {
                color: $base-red-color;
            }
        }
    }

    .customButton.button {
        width: 280px;
        margin: 0 auto;
    }
}
