{% extends '@SyliusShop/layout.html.twig' %}
{#{% form_theme form '@SyliusUi/Form/theme.html.twig' %}#}
{% import '@SyliusUi/Macro/messages.html.twig' as messages %}
{% set header = 'sylius.ui.your_shopping_cart' %}
{% set message = 'sylius.ui.your_cart_is_empty' %}
{% block title %}
    {{ parent() }}
    |
    {{ header|trans }}
{% endblock %}
{% block content %}
    <div class="grid-x display-flex align-middle breadcrumb margin-vertical-1">
        <div>
            <a class="section" href="/">Home</a>
        </div>
        <div class="divider display-flex align-middle">
            <img src="/assets/shop/img/bread_crumb_divider.png"/></div>
        <div class="active section">Your Cart
        </div>
    </div>
    {% include '@SyliusShop/Checkout/_steps.html.twig' with {
            'active' : 'cart'
        } %}
    <div :class="{'bt-loading': loading}" class="cart-page" id="cart-page">
        <div class="grid-x" v-show="cartItems.length>0">
            <div class="cell large-10 container left">
                {% include '@SyliusShop/Cart/components/items/_items.html.twig' %}
                <div class="grid-x align-right">
                    <div class="cell large-4">
                        <div class="cell border grid-x align-center-middle">
                            <div class="totals-and-checkout cell">
                                <section-total :subtotal="cartSubTotal" :total="cartTotal" inline-template>
                                    {% include '@SyliusShop/Cart/components/total/_total.html.twig' %}
                                </section-total>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell large-2 right">
                <section-code @click="sendCode()" inline-template v-model="code">
                    {% include '@SyliusShop/Cart/components/code/code.html.twig' %}
                </section-code>
            </div>
        </div>
        <div class="grid-x align-center empty-cart" v-show="!loading && !cartItems.length>0">
            <div class="cell large-5 text-center margin-vertical-2">
                <img src="/assets/shop/img/empty-cart.png"/>
                <h3>Your cart is empty!</h3>
                <span>
                    <a :href="back_to_store" id="backToStore">Click here</a> to continue shopping.
                </span>
            </div>
        </div>
    </div>
    {#{{ sonata_block_render_event('sylius.shop.cart.summary.before_suggestions', {'cart': cart}) }}#}
{#{% include '@SyliusShop/Cart/Summary/_suggestions.html.twig'
                                                                                                                                                        %}#}
    {# {{ messages.info('sylius.ui.your_cart_is_empty') }} #}
{% endblock %}