<div class="min-header header grid-x align-middle">
    <div class="cell shrink">
        <h1 v-if="h1" class="text-uppercase" id="title">
            [[label]]
        </h1>
        <h4 v-else class="text-uppercase" id="title">
            [[label]]
        </h4>
    </div>
    <div class="cell large-auto medium-auto">
        <span class="divider"></span>
    </div>
</div>