{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% set vincheck = app.session.get('vincheck') %}
{% if taxon is defined %}
    {% set product = taxon %}
{% endif %}
<div class="grid-x product-header grid-margin-x margin-top-2">
    <div class="cell large-6 display-flex align-middle">
        <h1 id="sylius-product-name" class="header">
            {% if taxon is defined %}
                {{ product.productName }}
            {% else %}
                {{ product.name }}
            {% endif %}
        </h1>
    </div>
    <div class="reviews-mobile">
        {% include '@SyliusShop/Product/Show/_reviews.html.twig' %}
    </div>
    <div class="cell large-3 display-flex align-middle" v-show="product">
        <div class="grid-x compatibility" :class="{'block': product, 'bt-loading': updateComp}">
            <div class="mr-10">
                <div class="bt-round-icon" :class="IconColorClassName">
                    <section-compatibility-icon class="round" :value="product.compatibility" inline-template>
                        {% include ':GlobalComponents/Compatibility:compatibilityIcon.html.twig' %}
                    </section-compatibility-icon>
                </div>
            </div>
            <div class="header-message display-flex align-middle">
                <section-compatibility-text :value="product.compatibility" inline-template>
                    {% include ':GlobalComponents/Compatibility:compatibility.html.twig' %}
                </section-compatibility-text>
            </div>
        </div>
    </div>
    <div :class="{'block': true}" v-show="product" id="product-price" class="large-3 display-flex align-right align-middle price">
        {% include 'Product/ContainerProduct/_productPrice.html.twig' %}
    </div>
</div>
<div class="grid-x reviews-desktop">
    {% include '@SyliusShop/Product/Show/_reviews.html.twig' %}
</div>