<div class="grid-x grid-margin-x">
    <div class="cell shrink">
        {% include 'Product/ContainerProduct/_starRating.html.twig' %}
    </div>
    <a href="#" class="cell shrink blue-color">7 customers reviews</a>
    {#<a href="{{ path('sylius_shop_product_review_create', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="item">{{ 'sylius.ui.add_your_review'|trans }}</a>#}
</div>
