<div class="bt-line"></div>
<div class="bt-social">
    <a v-show="product" @click="sendMail()">
        <span class="bt-mail bt-icon hvr-grow"></span>
    </a>
    <a @click="shareTvitter()">
        <span class="bt-twitter bt-icon hvr-grow"></span>
    </a>
    <a @click="shareFB()" id="shareBtnFB">
        <span class="bt-facebook2 bt-icon hvr-grow"></span>
    </a>
</div>