{# <div id="average-rating" class="ui star mini rating bt-rating disabled" :data-rating="averageRating" data-max-rating="5" :data-average-rating="averageRating" ></div> #}
<section-stars disabled :value="averageRating" inline-template size="mini">
    {% include ':GlobalComponents/Stars:stars.html.twig' %}
</section-stars>