{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<span class="ui huge header" id="product-price">
    {{ money.calculatePrice(product|sylius_resolve_variant) }}
    {% set prices = product.variants|first.channelPricings|first %}
    {% if prices.originalPrice is defined %}
        <span><small> <del>${{ (prices.originalPrice/100)|number_format(2, '.', ',') }}</del></small></span>
    {% endif %}
</span>
