<div id="Password">
    <div class="ui form">       
        <div class="change-password">
            <section-field :error="errors.oldPassword" type="password" required  label="Old password" v-model="oldPassword" inline-template>
                {% include ':GlobalComponents/Field:_field_custom.html.twig' %}
            </section-field>
            <section-field :error="errors.newPassword" type="password" required label="New password" v-model="newPassword" inline-template>
                {% include ':GlobalComponents/Field:_field_custom.html.twig' %}
            </section-field>
            <section-field :error="errors.confirmPassword" type="password" required :rules="'required|confirmed:new_password'" label="Confirm password" v-model="confirmPassword" inline-template>
                {% include ':GlobalComponents/Field:_field_custom.html.twig' %}
            </section-field>
        </div>
    </div>
    <div class="button customButton"><button @click="checkFields()" type="submit" class="bt-button primary"><span>Save Changes</span></button></div>
    <div class="ui bt modal passChanged">
        <div class="h5 text-center bt-heading">
            <div class="message">Your password has been successfully changed.</div>
            <div class="bt-icon black bt-close"></div>
        </div>
    </div>
</div>