<div class="ui modal mediaLibraryImageView">
    <i class="close icon"></i>
    {# <div class="header">
        Create new Shipment
    </div> #}
    <div class="content">
        <img :src="'/media/image/'+image" >
    </div>
</div>