<div class="ui icon message" id="sylius-order-cannot-be-shipped">
    <i class="warning sign icon"></i>
    <div class="content">
        <div class="header">{{ 'sylius.ui.warning'|trans }}</div>
        <p>You don't need pay tax, be happy .</p>
    </div>
</div>
