<div class="ui stackable two column grid">
    <div class="column">
        <h1 class="ui header">
            <i class="circular pencil icon"></i>
            <div class="content">
                Blog post
                <div class="sub header">Manage blog post</div>
            </div>
        </h1>
        <div class="ui breadcrumb">
            <a href="/admin/" class="section">Administration</a>
            <i class="right chevron icon divider"></i>
            <a href="/admin/blog-posts/" class="section">Blog post</a>
            <i class="right chevron icon divider"></i>
            <div class="section">{{ postId }}</div>
            <i class="right chevron icon divider"></i>
            <div class="active section">Edit</div>
        </div>
    </div>
    <div class="middle aligned column"></div>
</div>