$base-black-color: #212121;
$base-blue-color: #1ca3c2;
$base-white-color: #ffffff;
$base-gray-color: #757575;
$base-red-color: #f5350b;
$base-green-color: #14cf8a;
$second-gray-color: #818181;
$base-light-gray-color: #e0e0e0;
$base-gray-light-color: #F3F3F3;
$base-popup-color: #fdfdfd;
//$base-dark-gray-color:
$blog-blue-color: $base-blue-color;
$base-yellow-color: #fdd835;
$secound-yellow-color: #ffd600;
$recommended-product-text-color: #fff;
$base-icon-size: 24px;
$product-font-size: 16px;
$disable-color: #e0e0e0;
$base-btn-color: #3edbff;
$base-btn-hover-color: #2EB5FF;
$icon-red-color: $base-red-color;
$icon-green-color: $base-green-color;
$icon-blue-color: #0b4ef5;
$icon-yellow-color: $secound-yellow-color;

$small-font-size: 14px;
$super-small-font-size: 12px;

$input-padding: 15px;
$input-margin: 15px;

$input-radius: 20px;
$border-radius: 20px;

$bronze: #795548;
$gold: #ffc400;
$silver: #9e9e9e;
$platinum: #212121;

$return-icon: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAYAAAAmL5yKAAAA/klEQVQokaXSsSuFYRQG8N+nb9GbSaFuXZcyMVDeLNfIv2BRshj8EfcONn+AyCyLjcFksCjfZFPSTWImXoMSg+8r03Uvz/Sc8z7nOec9nSzF8IZBveMQG6FIrzBQFj/jHJOo4xQHGMUmbtDEFBooUgzTlQEs4x1nmMc2RnCCW+zhGEto4wmXKYbVLMXwiQncYwfrePwx8jgeSl7DXclz1PJKFYr0kWK4wEIo0myVLxs0y7ATitQo8w10qi/8GfnvEtD6j0ELwyVv920QirTV7f3fO6gMml1VXZBjDbsphjlc92uQQYphBkcY831Qiz3U1nGVVVGKYQj7WOljgJcvFK47gnr+M74AAAAASUVORK5CYII=") no-repeat center;
$refund-icon: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAPCAYAAADd/14OAAABKUlEQVQokW3QP0iWURgF8N/79aXIC+4S3JYGIaTBQGiJuIMNCtLi6ChN0VSzY0OIm3PQFGJ/hg/igv8WHTIQIVqKF6qpGvRiSFbL/eDzzWd7zjnPn3NoVU5hOaew0carQo7iPu5gEiN4hz08rWPztcopjGEL13CCD+jgOrr4gptdLBXRZ0zWsflRrozhPa7gQaecgo99EdSx+YYFPMROlVPoYbrwK3iG/To2Z+fM5BRu4y0uD+A/sYnneFnH5rTv+gYe4R6GW8kcYq5qZTiEKUTMY7xQ21VO4WrJ86iOzfeBoS5e4y7+drCPT3g1uL2OzW8clPZXF6t4jFs5hSfo4RImsFiEa1X56wVmXVy7mOm7rsov08X5Md5gA706Nn/+G88prOcUltv4P4W7W+84MD6CAAAAAElFTkSuQmCC") no-repeat center;
